extends layout

block content
  .container
    h1 About Us
    p La la la, lorem ipsum sed idio sui. cu dui na pas le murt
    ul
      li Vivamus nec scelerisque
      li Cras efficitur
      li Nam lectus elit
    p Awaskdajdoa asdaks jaoajfi eafef adsd s iada sdk ak joifj akf shgoe sgsen gsn
