extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce orci nulla, vehicula ullamcorper loboris se, luctus quis lacus.
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
   .container
      .row
        .col-md-4
          h2 About Us
          p We are the best B-)
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Services
          p We are the best B-)
          a.btn.btn-default(href='#') View Details
        .col-md-4
          h2 Get In To
          p We are the best B-)
          a.btn.btn-default(href='#') View Details
